Repository sathwik-14/quikjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,jsx,ts,tsx,json,css,scss,md}": ["prettier --write"]
}

chore: add home route to app.js template
  templates/app.js
Due: eslint --fix --max-warnings=0, prettier --write

refactor: function -> arrow function
  constants.js
  generate.js
  index.js
  plugins/mongoose/index.js
  plugins/prisma/index.js
  plugins/prisma/model.js
  plugins/sequelize/index.js
  plugins/sequelize/model.js
  plugins/typeorm/index.js
  prompt.js
  sampledata.js
  templates/app.js
  templates/passport.js
  utils/capitalize.js
  utils/format.js
  utils/fs.js
  utils/index.js
  utils/install.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: initial commit
  generate.js
  index.js
  sampledata.js
  templates/content.js
  utils/fs.js
Due: eslint --fix --max-warnings=0, prettier --write

fix: update validation error_handling
  generate.js
  index.js
  package.json
  plugins/sequelize/template.js
  sampledata.js
  templates/app.js
  templates/content.js
  utils/fs.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: setup testing environment
  .gitignore
  babel.config.json
  eslint.config.js
  jest.config.js
  package.json
  tests/utils/capitalize.spec.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: build test
  eslint.config.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: add unit tests
  babel.config.json
  tests/utils/capitalize.spec.js
  utils/capitalize.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: build test
  .lintstagedrc
Due: none

feat: test-case for compile handlebar templates
  tests/utils/compile.spec.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: test-case for prettier format
  tests/utils/format.spec.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: add cmd for coverage in package.json
  package.json
Due: prettier --write

docs: serve coverage and include it in docs
  README.md
  coverage.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: serve report cmd
  package.json
Due: prettier --write

feat: auth support for new input format
  generate.js
  index.js
  plugins/sequelize/index.js
  plugins/sequelize/model.js
  prompt.js
  sampledata.js
  templates/app.js
  templates/content.js
  templates/passport.js
  utils/fs.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: move joi to plugins dir
  generate.js
  index.js
  plugins/index.js
  plugins/joi/index.js
  plugins/joi/templates.js
  templates/content.js
Due: eslint --fix --max-warnings=0, prettier --write

Feat/joi validation (#14)
  generate.js
  index.js
  package.json
  plugins/index.js
  plugins/joi/index.js
  plugins/joi/templates.js
  plugins/sequelize/index.js
  plugins/sequelize/model.js
  plugins/sequelize/template.js
  prompt.js
  sampledata.js
  templates/app.js
  templates/content.js
  templates/passport.js
  utils/fs.js
Due: eslint --fix --max-warnings=0, prettier --write

Update README.md
  README.md
Due: prettier --write

chore: update readme
  README.md
Due: prettier --write

chore: get,getbyid apidoc
  index.js
  plugins/index.js
  plugins/swagger/index.js
  plugins/swagger/templates.js
  sampledata.js
  templates/app.js
  templates/content.js
  utils/install.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: update readme.md
  README.md
Due: prettier --write

chore: update package.json
  package.json
Due: prettier --write

chore: updated package.json ,rollup ,node imports
  README.md
  plugins/prisma/index.js
  plugins/sequelize/index.js
  rollup.config.mjs
  templates/aws.js
  utils/fs.js
  utils/install.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: add test-cases for install
  package.json
  tests/utils/install.spec.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: add test-cases for install
  .editorconfig
  tests/utils/install.spec.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: add more test cases
  babel.config.json
  jest.config.js
  tests/templatez/app.spec.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: add test-cases for install
  package.json
Due: prettier --write

feat: swagger doc for put and delete
  generate.js
  plugins/swagger/templates.js
  templates/app.js
  templates/content.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: update put to patch
  plugins/swagger/templates.js
  templates/content.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: fix lint
  index.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: update swagger dep to main from dev
  index.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: refactor
  index.js
Due: eslint --fix --max-warnings=0, prettier --write

Feat/swagger doc (#15)
  generate.js
  index.js
  plugins/index.js
  plugins/swagger/index.js
  plugins/swagger/templates.js
  sampledata.js
  templates/app.js
  templates/content.js
  utils/install.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: setup unit testing (#13)
  .editorconfig
  .gitignore
  .lintstagedrc
  README.md
  babel.config.json
  coverage.js
  eslint.config.js
  jest.config.js
  package.json
  tests/templatez/app.spec.js
  tests/utils/capitalize.spec.js
  tests/utils/compile.spec.js
  tests/utils/format.spec.js
  tests/utils/install.spec.js
  utils/capitalize.js
Due: eslint --fix --max-warnings=0, prettier --write

fix: add , in prompt.js and import node:process
  .DS_Store
  .husky/commit-msg.disabled
  generate.js
  index.js
  plugins/index.js
  plugins/joi/templates.js
  prompt.js
  templates/app.js
  templates/index.js
  templates/passport.js
  utils/capitalize.js
  utils/index.js
  utils/install.js
  utils/vfs.js
Due: eslint --fix --max-warnings=0, prettier --write

fix: improved template name consistancy
  plugins/joi/templates.js
  plugins/mongoose/templates.js
  plugins/swagger/templates.js
  templates/app.js
  templates/aws.js
  templates/content.js
  templates/msg91.js
  templates/passport.js
  templates/sendgrid.js
  templates/twilio.js
Due: eslint --fix --max-warnings=0, prettier --write

fix: improved template name consistancy (#32)
  plugins/joi/templates.js
  plugins/mongoose/templates.js
  plugins/swagger/templates.js
  templates/app.js
  templates/aws.js
  templates/content.js
  templates/msg91.js
  templates/passport.js
  templates/sendgrid.js
  templates/twilio.js
Due: eslint --fix --max-warnings=0, prettier --write
