Repository sathwik-14/quikjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=1, prettier --write

feat: add mongoose support for mongodb
  constants.js
  generate.js
  index.js
  plugins/mongoose/index.js
  plugins/mongoose/model.js
  plugins/mongoose/template.js
  plugins/mongoose/templates.js
Due: eslint --fix --max-warnings=1, prettier --write

fix: add allowSizeInput function to prisma, mongoose, and typeORM
  constants.js
Due: eslint --fix --max-warnings=1, prettier --write

fix: correctly handle input.orm as string or object
  prompt.js
Due: eslint --fix --max-warnings=1, prettier --write

chore: add debug logging for available databases
  prompt.js
Due: eslint --fix --max-warnings=1, prettier --write

feat: enhance schemaPrompts for Mongoose support
  prompt.js
Due: eslint --fix --max-warnings=1, prettier --write

feat: improve Mongoose prompts (required, refs, unique)
  prompt.js
Due: eslint --fix --max-warnings=1, prettier --write

fix: ensure mongoose connection is initialized in app.js
  templates/app.js
Due: eslint --fix --max-warnings=1, prettier --write

style: format mongoose model plugin
  plugins/mongoose/model.js
Due: eslint --fix --max-warnings=1, prettier --write

chore(release): 2.1.0
  package.json
Due: prettier --write

fix: include source files in package.json for npm publish
  package.json
Due: prettier --write

fix: move prettier and chalk to dependencies
  package.json
Due: prettier --write

chore: update husky gitignore
  .husky/.gitignore
Due: none

chore(release): 2.1.2
  package.json
Due: prettier --write

feat: add welcome banner and automatic npm initialization
  index.js
Due: eslint --fix --max-warnings=1, prettier --write

chore(release): 2.1.3
  package.json
Due: prettier --write

file: ROADMAP.md
  ROADMAP.md
  package.json
Due: prettier --write

feat: improve CLI experience with loaders and banner
  generate.js
  index.js
  package.json
Due: eslint --fix --max-warnings=1, prettier --write

chore(release): 2.1.4
  package.json
Due: prettier --write

fix: version in welcome banner updated
  index.js
Due: eslint --fix --max-warnings=1, prettier --write

fix: align border of welcome banner
  index.js
Due: eslint --fix --max-warnings=1, prettier --write

Path conditions:
  eslint --fix --max-warnings=1: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{js,jsx,ts,tsx,json,css,scss,md})
